# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Android Studio and IntelliJ
.idea

# Files related to tests
coverage/
.test_coverage.dart